<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

      <a th:href="@{/admin/airpage}">addAirPort</a><br>

      <a th:href="@{/admin/airportdelete}">deleteAirPort</a><br>

      <a th:href="@{/admin/airplanepage}">addAirPlane</a><br>

      <a th:href="@{/admin/airplanedelete}">deleteAirPlane</a><br>

      <a th:href="@{/admin/addflight}">addFlight</a><br>

      <a th:href="@{/admin/allflightadmin}">editAndDeleteFlight</a><br>




</body>
</html>