<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Flight Reservation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"th:href="@{/homepage}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')" >
                <a class="nav-link dropdown-toggle" href="#" id="flightDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Delete
                </a>
                <div class="dropdown-menu" aria-labelledby="flightDropdown">
                    <a class="dropdown-item" th:href="@{/admin/airplanedelete}" >Airplain</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/admin/airportdelete}">Airport</a>
                </div>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="addDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add
                </a>
                <div class="dropdown-menu" aria-labelledby="addDropdown">

                    <a class="dropdown-item" th:href="@{/admin/airpage}">Add Airport</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/admin/airplanepage}">Add AirPlane</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/admin/addflight}">Add Flight</a>
                </div>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" th:href="@{/}" id="editDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Edit
                </a>
                <div class="dropdown-menu" aria-labelledby="editDropdown">
                    <!--<a class="dropdown-item" th:href="@{/admin/airpage}">Add Airport</a>
                    <div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" th:href="@{/admin/allflightadmin}">Flight</a>
                </div>
            </li>
           <!-- <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="accountDropdown">
                    <a class="dropdown-item" href="/account/add">Add account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/account/all">Edit account</a>
                </div>
            </li>-->

            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_CUSTOMER')">
                <a class="nav-link dropdown-toggle" href="#" id="customerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Flight
                </a>
                <div class="dropdown-menu" aria-labelledby="customerDropdown">
                    <a class="dropdown-item" th:href="@{user/findingform}">book flight</a>
                    <!--<div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{admin/availableFlights}">search</a>-->
                </div>
            </li>
        </ul>

        <span sec:authorize="isAuthenticated()">
<a href="/logout" th:href="@{/}" class="btn btn-outline-success my-2 my-sm-0 pull-right">Logout</a>
</span>

    </div>
</nav>
</body>
</html>