<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">-->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <title>Flight Booking</title>
</head>
<body>
<div class="col" layout:fragment="main-content">
    <!--<<section>-->
    <div class="jumbotron">
        <div class="container">

            <h3 class="text-primary">Flight Booking</h3>

        </div>

        <div class="container">
        </div>
    </div>
</div>
</body>
</html>